#modal-background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: black;
    opacity: 0.5;
}

#choose-modal {
    position: fixed;
    top: 30%;
    left: 50%;
    width: 250px;
    padding: 15px;
    transform: translate(-50%, -50%);
    background-color: rgb(214, 0, 118);
    box-shadow: 0px 5px 10px gray;
    border-radius: 5px;
    z-index: 3;
}

#id-modal {
    position: fixed;
    top: 30%;
    left: 50%;
    width: 250px;
    padding: 15px;
    transform: translate(-50%, -50%);
    background-color: rgb(214, 0, 118);
    box-shadow: 0px 5px 10px gray;
    border-radius: 5px;
    z-index: 3;
}

#settings-modal {
    position: fixed;
    top: 30%;
    left: 50%;
    width: 250px;
    padding: 15px;
    transform: translate(-50%, -50%);
    background-color: rgb(214, 0, 118);
    box-shadow: 0px 5px 10px gray;
    border-radius: 5px;
    z-index: 3;
}

#change-tappers {
    display: flex;
    flex-direction: row;
}

#full-screen-modal {
    position: fixed;
    top: 30%;
    left: 50%;
    width: 250px;
    padding: 15px;
    transform: translate(-50%, -50%);
    background-color: rgb(214, 0, 118);
    box-shadow: 0px 5px 10px gray;
    border-radius: 5px;
    z-index: 3;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    height: 850px;
    border: 2px solid gray;
}

.play-area {
    position: relative;
    width: 600px;
    height: 850px;
    background-color: rgb(230, 230, 230);
    overflow: hidden;
}

.three-wide-area {
    width: 800px;
}

.four-wide-area {
    width: 900px;
}

#rock-meter {
    position: absolute;
    left: 20px;
    top: 50px;
    width: 200px;
    height: 200px;
    border: 2px solid gray;
    transform: rotate(45deg);
    border-radius: 0% 100% 0% 10%;
    box-shadow: 5px 5px 10px gray;
    overflow: hidden;
}

.meter-color {
    position: absolute;
    width: 300px;
    height: 300px;
}

#meter-green {
    background-color: green;
}
#meter-yellow {
    background-color: yellow;
    transform: translate(20px, 55px) rotate(-60deg);
}
#meter-red {
    background-color: red;
    transform: translate(30px, 120px) rotate(-30deg);
}
#meter-needle {
    position: absolute;
    height: 16px;
    width: 380px;
    top: 186px;
    left: -184px;
    background-color: rgb(168, 0, 93);
    border-radius: 90%;
    transform: rotate(-45deg);
    box-shadow: 5px 5px 10px orange;
    box-sizing: border-box;
    border: 2px solid darkorange;
}

#play-controls {
    position: absolute;
    top: 350px;
    left: 10px;
    z-index: 1;
}

.control-button {
    text-shadow: 0px 10px 10px gray;
    font-size: 60px;
    user-select: none;
    cursor: pointer;
}

.song-label {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%, 0px);
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    text-shadow: 0px 0px 5px gray;
}

.font-bigA {
    font-size: 40px;
}
.font-bigB {
    font-size: 60px;
}
.font-bigC {
    font-size: 80px;
}

#menu-right {
    width: 130px;
    position: absolute;
    left: 100%;
    top: 20px;
    padding: 5px;
    text-align: center;
    transform: translate(-102%, 0px);
    background-color: rgb(214, 0, 118);
    box-shadow: 0px 10px 10px gray;
    border-radius: 5px;
    z-index: 1;
}

#level-selector {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100px;
    position: absolute;
    left: 100%;
    top: 110px;
    padding: 5px;
    text-align: center;
    transform: translate(-103%, 0px);
    background-color: rgb(214, 0, 118);
    box-shadow: 0px 10px 10px gray;
    border-radius: 5px;
    z-index: 1;
}

.level {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16;
    color: lightgray;
    margin: 5px;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
}

.level-selected {
    background-color: rgb(168, 0, 93);
    border: 2px solid lightgray;
    cursor: default;
}

#slides-selector {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 70px;
    position: absolute;
    left: 100%;
    top: 285px;
    padding: 5px;
    text-align: center;
    transform: translate(-103%, 0px);
    background-color: rgb(214, 0, 118);
    box-shadow: 0px 10px 10px gray;
    border-radius: 5px;
    z-index: 1;
}

#fog-gradient {
    position: absolute;
    top: 58px;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to top, rgba(230,230,230,0), rgba(230,230,230,1));
}

#slides-container {
    width: 600px;
    height: 200px;
    perspective: 100px;
}

.slides {
    display: flex;
    flex-direction: row;
    width: 250px;
    /* width: 375px; */
    height: 600px;
    background-color: rgb(214, 0, 118);
    transform-style: preserve-3d;
    transform: rotateX(20deg);
    box-shadow: 0px 10px 10px rgb(168, 0, 93);
    border: 3px solid rgb(168, 0, 93);
}

.three-wide-slides {
    width: 375px;
}

.four-wide-slides {
    width: 500px;
}

.slide {
    position: relative;
    width: 125px;
    height: 600px;
    box-sizing: border-box;
    border: 2px solid rgb(168, 0, 93);
    text-align: center;
}

.slider {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 600px;
    background-color: green;
    text-align: center;
}

.note {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90px;
    height: 20px;
    background-color: orange;
    margin: auto;
    box-sizing: border-box;
    border-bottom: 6px solid darkorange;
    border-right: 18px solid darkorange;
    border-left: 18px solid darkorange;
    box-shadow: 0px 3px 10px orange;
}

.note-marked {
    background-color: green;
}

.tapper {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90px;
    height: 20px;
    background-color: rgba(168,0,93,0.2);
    margin: auto;
    border: 3px solid rgb(168, 0, 93);
    border-left: 16px solid rgb(168, 0, 93);
    border-right: 16px solid rgb(168, 0, 93);
    z-index: 1;
}

.note-leaving-right {
    top: 400px;
    animation-name: note-leave-right;
    animation-duration: 0.4s;
    left: 500px;
    z-index: 2;
}

@keyframes note-leave-right {
    0%      {opacity: 1; top: 400px; left: 50%}
    100%    {opacity: 0.5; top: 200px; left: 500px}
}

.note-leaving-left {
    top: 400px;
    animation-name: note-leave-left;
    animation-duration: 0.4s;
    left: -500px;
    z-index: 2;
}

@keyframes note-leave-left {
    0%      {opacity: 1; top: 400px; left: 50%}
    100%    {opacity: 0.5; top: 200px; left: -500px}
}
/* @keyframes note-leave-left {
    0%      {opacity: 1; transform: translate(0px, 0px)}
    100%    {opacity: 0.5; transform: translate(-500px, -500px)}
} */

.hidden {
    display: none;
}

.noter {
    position: fixed;
    left: 70%;
    top: 10px;
    height: 40px;
    width: 40px;
    background-color: green;
    z-index: 3;
}
