.menu {
    position: absolute;
    left: 100%;
    top: 0px;
    width: 200px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    text-shadow: 0px 0px 10px lightgray;
    z-index: 1;
    padding: 15px;
    /* border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; */
    border: 5px solid rgba(180, 180, 180, 0.4);
    border-radius: 0.5vmin;
    background-color: rgba(200, 200, 200);
    box-sizing: border-box;
    z-index: 4;
}

.slide-left {
    transform: translate(-100%, 0px);
    animation-name: slideLeft;
    animation-duration: 0.3s;
}
@keyframes slideLeft {
    0%    {transform: translate(0px, 0px);}
    100%    {transform: translate(-100%, 0px);}
}

.slide-right {
    transform: translate(0px, 0px);
    animation-name: slideLeft;
    animation-duration: 0.3s;
}
@keyframes slideLeft {
    0%    {transform: translate(0px, 0px);}
    100%    {transform: translate(-100%, 0px);}
}

.level {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16;
    color: darkgray;
    margin: 5px;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
}

.level-selected {
    background-color: gray;
    border-radius: 3px;
    cursor: default;
    color: lightgray;
    padding-bottom: 2px;
}

.menu-button {
    cursor: pointer;
}
.menu-title {
    cursor: default;
}

#outer-menu {
    position: absolute;
    top: 0vmin;
    left: 100%;
    /* width: 100%; */
    transform: translate(-100%, 0%);
    display: flex;
    flex-direction: row;
}

.outer-menu-item {
    height: 8vmin;
    width: 8vmin;
    color: gray;
    text-shadow: 0px 0px 10px lightgray;
    cursor: pointer;
}

#show-menu {
    font-size: 7vmin;
}

#full-screen {
    color: gray;
    text-shadow: 0px 0px 10px lightgray;
    font-size: 5vw;
}
.full-piece {
    position: absolute;
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 4vmin;
}
#full-top-left {
    top: 5%;
    left: -10%;
}
#full-top-right {
    top: 5%;
    left: 10%;
    transform: scaleX(-1);
}
#full-bottom-left {
    top: 50%;
    left: -10%;
    transform: scaleY(-1);
}
#full-bottom-right {
    top: 50%;
    left: 10%;
    transform: scaleY(-1) scaleX(-1);
}