#streak-meter {
    position: absolute;
    left: 100%;
    top: 115vh;
    width: 8vh;
    height: 29vh;
    transform: translate(2.5vh, 0%);
    background-color: rgb(199, 129, 0);
    box-shadow: 0px 2.5px 5px rgb(163, 106, 0);
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.hit {
    width: 100%;
    height: 1%;
    box-sizing: border-box;
    border-top: 1px solid blue;
    background-color: rgb(0, 228, 228);
}
#streak-channel {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.streak-channel-lit {
    background-color: rgb(0, 228, 228);
    border: 0.35vh inset rgb(0, 228, 228);
    box-shadow: 
        0.75vh 0vh 2vh rgb(0, 228, 228),
        -0.75vh 0vh 2vh rgb(0, 228, 228),
        0.75vh 0vh 2.5vh rgb(0, 228, 228),
        -0.75vh 0vh 2.5vh rgb(0, 228, 228);
}

#skilz-meter {
    position: absolute;
    left: 0px;
    top: 115vh;
    width: 8vh;
    height: 29vh;
    transform: translate(-10.5vh, 0%);
    background-color: rgb(199, 129, 0);
    box-shadow: 0px 2.5px 5px rgb(163, 106, 0);
    border-radius: 2vh; 
}

.skilz-channel {
    position: absolute;
    left: 3vh;
    top: 1vh;
    width: 2vh;
    height: 27vh;
    background-color: rgb(2, 0, 90);
    box-sizing: border-box;
    border: 0.35vh inset rgb(199, 129, 0);
    border-bottom: 0.2vh inset rgb(199, 129, 0);
    border-radius: 1vh;
}
.skilz-channel-lit {
    background-color: rgb(144, 0, 228);
    border: 0.35vh inset rgb(144, 0, 228);
    box-shadow: 
        0.75vh 0vh 2vh rgb(144, 0, 228),
        -0.75vh 0vh 2vh rgb(144, 0, 228);
}

#skilz-ball {
    position: absolute;
    left: 50%;
    top: 98%;
    width: 2vh;
    height: 0.75vh;
    transform: translate(-50%, 0%);
    background-color: rgb(144, 0, 228);
    border-radius: 50%;
    box-shadow:
        /* 0.75vh 0vh 1.5vh rgb(144, 0, 228),
        -0.75vh 0vh 1.5vh rgb(144, 0, 228),
        0.75vh 0vh 1.5vh rgb(144, 0, 228),
        -0.75vh 0vh 1.5vh rgb(144, 0, 228),
        0.75vh 0vh 1.5vh rgb(144, 0, 228),
        -0.75vh 0vh 1.5vh rgb(144, 0, 228), */
        0.75vh 0vh 1.5vh rgb(144, 0, 228),
        -0.75vh 0vh 1.5vh rgb(144, 0, 228),
        0.75vh 0vh 1.5vh rgb(144, 0, 228),
        -0.75vh 0vh 1.5vh rgb(144, 0, 228),
        0.75vh 0vh 1.5vh rgb(144, 0, 228),
        -0.75vh 0vh 1.5vh rgb(144, 0, 228),
        /* 1.5vh 0vh 1.5vh rgb(144, 0, 228),
        -1.5vh 0vh 1.5vh rgb(144, 0, 228),
        1.5vh 0vh 1.5vh rgb(144, 0, 228),
        -1.5vh 0vh 1.5vh rgb(144, 0, 228),
        1.5vh 0vh 1.5vh rgb(144, 0, 228),
        -1.5vh 0vh 1.5vh rgb(144, 0, 228), */
        1.5vh 0vh 1.5vh rgb(144, 0, 228),
        -1.5vh 0vh 1.5vh rgb(144, 0, 228),
        1.5vh 0vh 1.5vh rgb(144, 0, 228),
        -1.5vh 0vh 1.5vh rgb(144, 0, 228),
        1.5vh 0vh 1.5vh rgb(144, 0, 228),
        -1.5vh 0vh 1.5vh rgb(144, 0, 228);
}





