.slides-container {
    height: 150vh;
    perspective: 20vh;
    width: 100vw;
}

.three-wide-slides-container {
    width: 107vw;
}

.four-wide-slides-container {
    width: 114vw;
}

.slide {
    width: 50vw;
}

.tapper {
    top: 127vh;
    /* travelLength is 128.5vh to account for top border */
    border: 1.5vh solid rgb(168, 0, 93);
    border-left: 3vh solid rgb(168, 0, 93);
    border-right: 3vh solid rgb(168, 0, 93);
}

#test-note2 {
    top: 115vh;
}

.note {
    border-top: 0.35vh solid rgb(241, 133, 0);
    border-bottom: 1.5vh solid rgb(219, 121, 0);
    border-right: 3vh solid darkorange;
    border-left: 3vh solid darkorange;
}
.note-leaving-right {
    top: 128.5vh;
}
.note-leaving-left {
    top: 128.5vh;
}

.cloud {
    top: 128.5vh;
}
@keyframes note-leave-right {
    0%      {opacity: 1; top: 128.5vh; left: 50%}
    100%    {opacity: 1; top: 0px; left: 350vh}
}
@keyframes note-leave-left {
    0%      {opacity: 1; top: 128.5vh; left: 50%}
    100%    {opacity: 1; top: 0px; left: -350vh}
}

#show-menu {
    font-size: 10vw;
}

#play-controls {
    top: 25%;
}

.control-button {
    height: 8vw;
    font-size: 8vw;
}

#vertical {
    height: 7vw;
    border-left: 0.75vw solid gray;
}

#song-label {
    font-size: 5vw;
    text-shadow: 0px 0px 3vw white;
}

#background-left {
    position: absolute;
    height: 100%;
    width: 15%;
    top: 0px;
    left: 0px;
}
#background-right {
    position: absolute;
    height: 100%;
    width: 15%;
    top: 0px;
    left: 100%;
    transform: translate(-100%, 0px);
}
#fog-mobile {
    position: absolute;
    height: 30%;
    width: 100%;
    top: 0px;
    left: 0px;
    /* background-color: red; */
}

.rock-label {
    font-family: sans-serif;
    font-size: 12vw;
    opacity: 0.5;
    font-weight: bold;
    animation-name: youRock;
    animation-duration: 500ms;
}
@keyframes youRock {
    0%    {font-size: 0px}
    100%    {font-size: 12vw}
}

.slides {
    opacity: 1;
}